html, body {
  color: #333;
}

body {
  background-color: #FAFAFA;
}

a, .toggle {
  color: #616367;
}

a:hover, .toggle:hover {
  color: #111113;
}

blockquote {
  border-left: 1px solid #C7C6C5;
}

@media screen and (max-width: 900px) {
  .toggle_nav {
    background: #3C3D40;
  }
  .toggle_nav .toggle {
    color: #FDFDFD;
  }
  .toggle_nav .toggle:hover {
    color: #e3e3e3;
  }
}

.main_menu {
  background: #111113;
  color: #FDFDFD;
}

.main_menu a, .main_menu .toggle {
  color: #FDFDFD;
}

.main_menu a:hover, .main_menu .toggle:hover {
  color: #cacaca;
}

.main_menu .parent .submenu-opener:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #FDFDFD transparent transparent transparent;
  border-width: 8.66025px 5px;
}

.main_menu .parent .submenu-opener:hover:after {
  border-color: #cacaca transparent transparent transparent;
}

.main_menu .sub-menu {
  background: #1d1d20;
}

a .head h1, .toggle .head h1 {
  color: #111113;
}

a:hover .head h1, .toggle:hover .head h1 {
  color: #C7C6C5;
}

.feat .content {
  border-bottom: 1px solid #C7C6C5;
}

.feat article .feattitle {
  color: #FDFDFD;
  background: #111113;
}

.feat article .feattitle:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-color: black transparent transparent transparent;
  border-width: 6.66667px 10px 0 0;
}

@media screen and (max-width: 900px) {
  .sidebar {
    background: #FDFDFD;
    color: black;
  }
}

.pagination span {
  color: #3C3D40;
}

.pagination a, .pagination .toggle {
  border-top: 1px solid #111113;
  border-bottom: 1px solid #111113;
}

.pagination a:hover, .pagination .toggle:hover {
  color: #111113;
  border-color: #F5F4EC;
}

.pagination .current {
  color: #3C3D40;
  border-top: 1px solid #C7C6C5;
  border-bottom: 1px solid #C7C6C5;
}

article {
  border-bottom: 1px solid #C7C6C5;
}

article footer {
  border-top: 1px solid #C7C6C5;
  border-bottom: 1px solid #C7C6C5;
}

article .meta:after {
  border-bottom: 1px solid #C7C6C5;
}

article .meta:before {
  background: #FAFAFA;
  border-bottom: 1px solid #C7C6C5;
  border-right: 1px solid #C7C6C5;
}

article .rm a, article .rm .toggle {
  padding: 5px 12px;
  text-transform: uppercase;
  border-top: 1px solid #3C3D40;
  border-bottom: 1px solid #3C3D40;
  background: #FDFDFD;
  border-radius: 0px;
  line-height: 2.8;
  color: black;
}

article .rm a:hover, article .rm .toggle:hover {
  border-color: #F5F4EC;
  background: #FAFAFA;
  color: black;
}

.authorbox {
  border: 1px solid #C7C6C5;
  background: #FAFAFA;
}

.authorbox .author_info {
  position: relative;
  background: #FAFAFA;
  color: #333;
  border-bottom: 1px solid #C7C6C5;
}

.authorbox .author_info:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #FAFAFA;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: -5.05076px;
  margin-left: -5px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  border-bottom: 1px solid #C7C6C5;
  border-right: 1px solid #C7C6C5;
}

.authorbox .social_media_links a i, .authorbox .social_media_links .toggle i {
  background-color: #616367;
  color: white;
}

.authorbox .social_media_links a i:hover, .authorbox .social_media_links .toggle i:hover {
  background-color: #111113;
  color: white;
}

.author_website_label,
.social_links_label {
  color: #4d4d4d;
}

.comments .comments-list li {
  border: 1px solid #C7C6C5;
}

.comments .comments-list .comment-author {
  border-bottom: 1px solid #C7C6C5;
  position: relative;
  background: #FAFAFA;
  color: #121212;
  border-bottom: 1px solid #C7C6C5;
}

.comments .comments-list .comment-author:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #FAFAFA;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: -5.05076px;
  margin-left: -5px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  border-bottom: 1px solid #C7C6C5;
  border-right: 1px solid #C7C6C5;
}

.comments .comments-list .children li {
  border-left: 1px solid #C7C6C5;
}

.comment-respond h3 {
  position: relative;
  background: #FAFAFA;
  color: #121212;
  border-bottom: 1px solid #C7C6C5;
}

.comment-respond h3:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #FAFAFA;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: -5.05076px;
  margin-left: -5px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  border-bottom: 1px solid #C7C6C5;
  border-right: 1px solid #C7C6C5;
}

.comment-respond .comment-form-comment textarea {
  border-bottom: 1px solid #C7C6C5;
}

.comment-respond .form-submit input {
  padding: 5px 12px;
  text-transform: uppercase;
  border-top: 1px solid #3C3D40;
  border-bottom: 1px solid #3C3D40;
  background: #FDFDFD;
  border-radius: 0px;
  line-height: 2.8;
  color: black;
}

.comment-respond .form-submit input:hover {
  border-color: #F5F4EC;
  background: #FAFAFA;
  color: black;
}

.group input {
  border-bottom: 1px solid #C7C6C5;
}

.group .bar:before, .group .bar:after {
  background: #111113;
}

.foot1 .content {
  border-top: 1px solid #C7C6C5;
}

.foot2 {
  background: #e3e3e3;
  color: #121212;
}

.foot2 a, .foot2 .toggle {
  color: #3C3D40;
}

.foot2 a:hover, .foot2 .toggle:hover {
  color: #6d6f75;
}

.foot3,
.notice {
  background: #111113;
  color: #FDFDFD;
}

.foot3 a,
.foot3 .toggle,
.notice a, .notice .toggle {
  color: #e3e3e3;
}

.foot3 a:hover,
.foot3 .toggle:hover,
.notice a:hover, .notice .toggle:hover {
  color: #FDFDFD;
}

.foot3 .smline .fa,
.notice .smline .fa {
  background: #FDFDFD;
  color: #111113;
}

.foot3 .smline .fa:hover,
.notice .smline .fa:hover {
  color: #FDFDFD;
  background: #111113;
}

.notice {
  border-top: 1px solid rgba(238, 238, 236, 0.1);
}

.single .page-nav {
  border-bottom: 1px solid #C7C6C5;
}

.widget {
  border: 1px solid #C7C6C5;
}

.widget h2 {
  position: relative;
  background: #FAFAFA;
  color: #121212;
  border-bottom: 1px solid #C7C6C5;
}

.widget h2:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #FAFAFA;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: -5.05076px;
  margin-left: -5px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  border-bottom: 1px solid #C7C6C5;
  border-right: 1px solid #C7C6C5;
}
