html, body {
  font-family: "Lato", "Calibri", "Arial", sans-serif;
  font-size: 1em;
  font-size: 17px;
  font-weight: 300;
}

@media screen and (max-width: 700px) {
  html, body {
    font-size: 14px;
  }
}

body {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
  padding: 10px 0px;
}

h1 {
  font-size: 2.1em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: .83em;
}

h6 {
  font-size: .75em;
}

blockquote {
  font-family: "Playfair Display", "Georgia", "Times New Roman", serif;
  font-size: 1.1em;
  letter-spacing: 2px;
}

@media screen and (max-width: 800px) {
  .head {
    font-size: .5em;
    word-break: break-all;
  }
}

.head h1 {
  font-size: 5em;
  font-family: "Playfair Display", "Georgia", "Times New Roman", serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .4em;
  text-align: center;
  line-height: 2;
}

.head h2 {
  text-align: center;
  font-size: 2em;
  line-height: 1;
}

.pagination {
  font-size: 1.1em;
  text-align: center;
}

.pagination span, .pagination a {
  font-family: "Playfair Display", "Georgia", "Times New Roman", serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

article header {
  text-align: center;
}

article footer {
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Playfair Display", "Georgia", "Times New Roman", serif;
  font-size: .8em;
}

article .rm {
  text-align: center;
  font-family: "Playfair Display", "Georgia", "Times New Roman", serif;
  letter-spacing: 2px;
}

article .post {
  text-align: justify;
}

.comments h2 {
  font-family: "Playfair Display", "Georgia", "Times New Roman", serif;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 2;
  text-align: center;
}

.comments .comments-list .comment-author {
  font-size: 1.2em;
  font-weight: 400;
  text-transform: uppercase;
}

.comments .comments-list .comment-meta {
  font-size: .8em;
}

.comment-respond h3 {
  text-align: center;
}

.comment-respond .comment-notes {
  font-style: italic;
}

.comment-respond .comment-form-comment textarea {
  font-size: 18px;
}

.comment-respond .comment-form-comment label {
  font-size: 14px;
  font-weight: normal;
}

.comment-respond .form-submit {
  text-align: center;
}

.comment-respond .form-submit input {
  font-family: "Playfair Display", "Georgia", "Times New Roman", serif;
  letter-spacing: 2px;
}

.comment-respond .form-allowed-tags {
  font-size: .8em;
  font-family: monospace;
}

.group input {
  font-size: 18px;
}

.group input:valid ~ label, .group input:focus ~ label {
  font-size: 14px;
}

.group label {
  font-size: 18px;
  font-weight: normal;
}

.foot2 {
  font-family: "Playfair Display", "Georgia", "Times New Roman", serif;
}

.foot2 a {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.notice {
  text-align: center;
  font-size: .8em;
}

.single .page-nav p {
  text-transform: uppercase;
}

.widget h2 {
  text-align: center;
}
